/* variables*/
:root
{
  --colorPrimary: #384952; /* same color -> hsla(201, 19%, 27%);*/
  --colorSecondary: #65F1D1;
  --colorThree: #f4f4f4;
  --colorFour: #ffeb3b; /*#feb416; orange*/
  --LightGrey: #ededed;
  --colorPrimaryCompliment: #627078;
}
