@import "./CssProperties.css";


footer{
    background-color: var(--colorPrimary);
    height: auto;
    min-height: 10vh;
    display: block;
    float: bottom;
    margin: auto;
    text-align: center;
    padding: 20px;
    align-content: bottom;
  }
  
  .footer-links-container{
    display: flex;
    justify-content: space-around;
    align-items: center;;
    align-content: center;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    max-width: 50vw;
    margin: auto;
  }
  
  .footer-link-group{
    position: relative;
    display: block;
    height: auto;
    width: 150px;
    margin: auto;
    overflow: hidden;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-link{
    display: block;
    font-size: 1.2em;
    text-align: center;
    margin: 10px;
  }

  .text-regular{
    text-decoration: inherit;
    cursor: inherit;
    color: var(--colorThree);
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
  }

footer hr{
  width: 100vw;
  background-color: var(--colorSecondary);
  color: var(--colorSecondary);
  border-color: var(--colorSecondary);
}