@import "CssProperties.css";

* {
  padding: 0;
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}


html, body {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: var(--colorThree);
}

body {
  height: 100vh;
  background-image: url('../Pictures/Paradise.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: 0 200px;*/
  background-position: center;
  background-attachment: fixed;
}

.showcase {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  cursor: default;
  height: 100vh;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(30,30,30, 1);
  opacity: .35;
}

@media screen and (max-width : 500px){
  .showcase {
    background-image: url('../Pictures/Pineapples\ Icon\ -\ Cover\ Mobile.png');
  }
}
@media screen and (min-width : 500px){
  .showcase {
    background-image: url('../Pictures/Pineapples\ Icon\ -\ Cover.png');
  }
}

section 
{
  width: 100vw;
}

h2, li {
  color: white;
  display: inline-block;
  margin: auto;
}

.text-regular{
  text-decoration: inherit;
  cursor: inherit;
  color: var(--colorThree);
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}

.text-strong{
  color: var(--colorPrimary);
  font-weight: bold;
  font-size: 4vmin;
  padding: 40px;
  text-align: center;
}

.italics {
  font-style: italic;
}

/* Style div's on main page */
#summary {
  background-color: white;
  height: 30%;
}

/* form Styling */
.form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;;
  align-content: center;
  /*flex-direction: row;*/
  flex-wrap: wrap;
  background-color: var(--colorPrimary);
  position: relative;
  height: 10vh;
  min-height: 80px;
  width: 100vw;
  font-size: 1.2em
}

.register-form 
{
  display: block;
  text-align: center;
}

.inputLabel, .inputText, .inputSubmit {
  height: 2em;
  border-radius: 0px;  
  vertical-align: middle;
  border-radius: 5px;
  color: white;
}

.inputText{
  color: var(--colorPrimary);
  padding: 0 10px;
}

.inputSubmit {
  font-size: .7em;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--colorFour);
  color: black;
  border: 0;
  height:2.5em;
}

@media screen and (max-width : 499px) /* when screen is 499 px or less */
{
  .inputText
  {
    width: 40vw;
  }
}
@media screen and (min-width : 500px) /* when screen is 500 px or more*/
{
  .inputText
  {
    width: 20vw;
  }
}

#summary {
  background-image: url("./pictures/NavbarBanner.png");
  background-repeat: no-repeat;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 40px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

.flexbox-container
{
  display: flex;
  justify-content: space-around;
  align-items: center;;
  align-content: center;
  flex-wrap: wrap;
  max-width: 100vw;
}

.flexbox-item
{
  position: relative;
  display: block;
  height: auto;
  width: 150px;
  margin: auto;
  overflow: hidden;
  padding: 40px 0;
  text-align: center;
}

.flexbox-item a{
  display: block;
  font-size: 2.5vmax;
  font-weight: bold;
  color: var(--colorPrimary);
  cursor: pointer;
  padding-top: 20px;
  text-decoration: inherit;
}

.iconTitle {
  padding-top: 50px;
}

.boxIcon
 {
  display: block;
  text-align: center;
  margin: auto;
  height: 7.5vmax;
  width: 7.5vmax;
  object-fit: contain;
}

.boxIcon img
{
  height: 7.5vmax;
  width: 7.5vmax;
}

.boxIcon img:hover
{
  object-fit: contain;
  transition: transform .6s;
  transform: scale(1.2, 1.2)
}

.quote-container {
  min-height: 20vh;
  background: var(--colorFour);
  background-image:url('../Pictures/Pineapples Icon - 1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .9;
}

.quote-container p:hover{
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: rotate3d(1,.2,.2, 360deg)
}

.bottom-banner{
  display: block;
  background-color: var(--colorSecondary);
  height: 5vh;
}


a:hover{
  text-decoration: underline;
  cursor: pointer;
}

