html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    /*background-image: url('../Pictures/Pineapple Tech Main.jpg');*/
    background-image: url('../Pictures/Paradise.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: 0 200px;*/
    background-position: center;
    background-attachment: fixed;
  }

@media screen and (min-width: 600px){
    #map {
        display: flex;
        position: absolute;
        top: 20%;
        left: 0%;
        right: 0%;
        bottom: 5%;
        margin: auto;
    }
}
@media screen and (max-width: 599px){
    #map {
        display: flex;
        position: absolute;
        top: 20%;
        left: 0%;
        right: 0%;
        bottom: 5%;
        margin: auto;
    }
}

.map-container {
    height: 100vh;
    width: 100vw;
}