@import url("./CssProperties.css");

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 50px;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: var(--colorThree);
}

/* Style the navbar */
.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  /*flex-direction: row;*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  border-bottom: 0px solid var(--colorSecondary);
  background-color: #28394d;
  background-color: var(--colorPrimary);
  color: white;
  clear: both;
  position: fixed;
  float: top;
  z-index: 1;
  width: 100vw;
  max-width: 90vw;
  min-height: 50px;
  padding: 20px 5vw 10px 5vw;
  vertical-align: middle;
}

.brandingName {
  display: inline-block;
  font-size: 5vmin;
}

.brandingName-Color2 {
  color: var(--colorSecondary);
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
}

.brandingName-Default {
  color: white;
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
}

.brandingIcon {
  float: left;
  display: inline-block;
  margin: auto;
  padding: auto;
  vertical-align: middle;
  text-align: center;
  height: 10vh;
  width: 8vh;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.brandingIcon img {
  height: 7vh;
  width: 6vh;
}

.brandingIcon img:hover {
  height: 7.2vh;
  width: 6.2vh;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: scale(1.4, 1.2);
          transform: scale(1.4, 1.2);
}

.branding-container {
  color: white;
  font-weight: bold;
  min-height: 50px;
  width: auto;
  min-width: 250px;
  margin: auto;
}

.nav-container {
  color: white;
  font-weight: bold;
  min-height: 50px;
  min-width: 60vw;
  width: 60vw;
  text-align: center;
}
.hamburger-menu-img {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  margin: 0 0px;
}

#toggle-menu {
  display: none;
  background-color: lightblue;
  color: black;
}

/* Navbar links */
.nav-option {
  color: var(--colorThree);
  text-shadow: 2px 2px 2px #555;
  /*color: #f2f2f2;*/
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.5vmax;
  /* dynamically sizes font to be x% of view width or view height, which ever is smaller */
  min-width: 120px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.nav-option:hover {
  color: var(--colorSecondary);
  /*font-weight: bold;*/
  text-decoration: none;
  text-transform: uppercase;
}

.nav-options-container {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  min-height: 50px;
  margin: auto;
  top: 7px;
}

.nav-dropdown {
  position: relative;
  display: inline-block;
  background-color: var(--colorPrimary);
  text-align: center;
  align-items: center;
  margin: auto;
}

.nav-dropdown:hover .nav-dropdown-content {
  display: block;
  color: var(--colorFour);
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--colorPrimary);
  min-width: 120px;
  /*box-shadow: 5px 5px 5px #ffeb3baa; /* rgba(0,0,0,.1);*/
  z-index: 1;
}

.nav-dropdown-content a {
  color: var(--colorThree);
  padding: 10px 5px;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.5vmax;
  display: block;
  width: auto;
}

@media only screen and (max-width : 500px){
  .nav-container {
    display: none;
  }
  .branding-container {
    min-height: 30px;
  }
  label {
    display: inline-block;
    cursor: pointer;
    width: 15vw;
  }
  .nav-option {
    font-size: 5vmin;
    text-align: center;
    width: 100vw;
  }
  .nav-dropdown{
    display: block;
    margin: 10px 0;
    border-bottom: 1px solid var(--colorSecondary);
  }
  #toggle-menu:checked + .nav-options-container {
    display: block;
    width: 100vw;
  }
  #toggle-menu:checked + .nav-container {
    display: block;
    
  }
}
@media only screen and (min-width : 500px){
  label {
    display: none;
  }
  .nav-options-container {
    display: inline-block;
  }
  .nav-option {
    display: inline-block;
  }
}