@import "CssProperties.css";

html, body {
    height: 100vh;
    width: 100vw;
    display: block;
    margin: 0;
    background-color: var(--colorThree);
}

.game {
    height: 100vh;
    width: 100vw;
}

.game-board-container{
    display: flex;
    margin: auto;
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}

#game-board {
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(25, 1fr);
    padding: 0px;
    margin: auto;
    background-color: var(--LightGrey);
    min-width: 75vw;
    box-shadow: 0px 0px 10px 10px #65F1D1aa; /* rgba(0,0,0,.1);*/
}

@media screen and (max-width : 425px){
    .game-board-container{
        top: 20%;
        /*background-color: red;*/
    }
    #game-board{
        min-height: 65vh;
    }
}
@media screen and (min-width : 425px){
    .game-board-container{
        top: 20%;
        /*background-color: green;*/
    }
    #game-board{
        min-height: 70vh;
    }
}

.snake {
    background-color: var(--colorSecondary);
    border: .25vmin solid var(--colorPrimary);
}

.pineapple {
   background-color: var(--colorFour);
    background-image: url("../Pictures/Pineapples\ Icon\ -\ Blue\ 2.png");
    background-size: cover;
    background-repeat: no-repeat;
    /*border: .25vmin solid var(--colorPrimary);*/
}