<div class="footer-links-container">
    <hr>
    <div class="footer-link-group">
        <a class="footer-link text-regular" href="https://www.google.com/search?q=pineapples&oq=pineapples&aqs=chrome..69i57j46j0j46j0l2j69i61l2.2090j0j7&sourceid=chrome&ie=UTF-8">Google</a>
        <a class="footer-link text-regular" href="https://www.google.com/search?q=pineapples&sxsrf=ALeKk00H8rVUgwgMv2PfPY5edbWaKwMYmw:1591830356784&source=lnms&tbm=isch&sa=X&ved=2ahUKEwihr9WXrvjpAhWzSjABHbO6Dt0Q_AUoAXoECB8QAw&biw=1396&bih=657">Images</a>
        <a class="footer-link text-regular" href="https://www.google.com/search?q=pineapples&sxsrf=ALeKk02Z00DaBp-MskJtfYnsW2TT9XDUhg:1591830419330&source=lnms&tbm=shop&sa=X&ved=2ahUKEwj08L61rvjpAhX2TDABHWyvC9IQ_AUoAnoECCAQBA&biw=1396&bih=657">Shopping</a>
    </div>
    <div class="footer-link-group">
        <a class="footer-link text-regular" href="">LinkedIn</a>
        <a class="footer-link text-regular" href="">GitHub</a>
        <a class="footer-link text-regular" href="">BitBucket</a>
    </div>
</div>
<div class="text-regular">An Inner-G Production, Copyright &copy;</div>