<div class="branding-container">
   <!-- TODO: icon -->
   <!--<div class="brandingIcon">
         <img src="./Pictures/Pineapples Icon - Phase 2.png">
   </div>-->
   <div class="brandingName">
      <span class="brandingName-Color2">PINEAPPLES</span><span class="brandingName-Default">GALORE</span>
   </div>
</div>

<label for="toggle-menu"><img class="hamburger-menu-img" src="../Pictures/Menu.png"></label> <!-- Hamburger menu char code: &#9776; -->
<input type="checkbox" id="toggle-menu"/>

<div class="nav-container">
   
   <div class="nav-options-container">
      <div class="nav-dropdown">
         <h2><a class="nav-option" href="./Index.html">HOME</a></h2>
      </div>
      <div class="nav-dropdown">
         <h2><a class="nav-option" href="./Map.html">MAP</a></h2>
      </div>
      <div class="nav-dropdown">
         <h2><a class="nav-option" href="#tools">TOOLS</a></h2>
      </div>
      <div class="nav-dropdown">
         <h2><a class="nav-option" href="./SnakeAndThePineapple.html">GAME</a></h2>
      </div>
      <div class="nav-dropdown">
         <h2><a class="nav-option" href="#SHOP">SHOP</a></h2>
      </div>   
   </div>
</div>
