<div id="summary">
    <iframe src="http://maps.google.co.uk/maps?q=momo+new+york&amp;output=embed" 
    height=400px frameborder="0" scrolling="no"></iframe>
</div>
<div id="other">
    
    <div id="imgbox" height="100vh" width="80vw" padding="-50">
        <img src="./Pictures/Pineapple Slices.png" height="0%" width="55%" style="float:left"
            onmouseover="ouch();" onmouseout="ahhh();"
            href="javascript:Void(0)" onclick="alert('DAMNIT!! I just said it was sharp!')">
        <h1 id="pineappleSlices""><b>Careful, pineapples are sharp!</b>It just might cut you!</h1>
    </div>	
    <script src='./js/pineapple-touch.js'></script>
</div>
<div id="other2">

</div>
<div id="other3">

</div>